*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFDAB9;
}

button{
	padding: 0.6em 1.2em;
    border: 3px solid #000000;
    background-color: #ffffff;
    color: #000000;
    border-radius: 0.3em;
    text-transform: capitalize;
	border-radius: 50%;
}
button:disabled{
	color: #ffffff;
	background-color: purple;
}
.game-board{
    display: grid;
	font-size: 16px;
    background-color: #ffffff;
    width: 90vw;
    max-width: 34em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.4em rgba(111, 85, 0, 0.25);
}
.word-container{
    grid-column: 1/2;
    grid-row: 1/2;
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6em;
}
.display{
	color: purple;
	font-weight: bold;
	font-size: 50px;
	padding: 20px;
	letter-spacing: 3px;
	text-align: center;
}
.letter-container {
    grid-column: 1/2;
    grid-row: 2/2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6em;
}
.hangman-container{
    position: relative;
    grid-column: 2/2;
    grid-row: 2;
    background-image: url("hangman.png");
    background-repeat: no-repeat;
}